<div class="wrapper">
    <div class="main-panel" style="width: 100%;">
        <div class="content" style="min-height:calc(100vh - 165px);">
            <img src="assets/img/logo.png" style="max-width: 150px;">
            <h1>
                Angular Template
            </h1>

            <div style="padding: 50px 0px" *ngIf="userProfile === undefined; else elseBlock">
                <button (click)="loginCode()"  class="btn btn-info">Sign In / Sign Up</button>
            </div>

            <ng-template #elseBlock>
                <p>Welcome back {{userProfile.name}}, have a look at <a href="/myapp/dashboard"> your template dashboard</a>!</p>
            </ng-template>

        </div>
        <app-footer-cmp></app-footer-cmp>
    </div>